#GamePage game-card
{
    pointer-events: none;
    display: block;
    justify-self:center;
    scale:40%;
    margin:-28%;
    transform-origin: top center bottom;
}

#GamePage
{
    border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(74, 74, 74);

    display:grid;
    grid-template-columns: 50% 50%;
}

#CardSection
{
    margin:0;
    padding:0;
    overflow-y: auto;
}

#RightHeader h1 
{
    color:rgb(255, 128, 149);
    padding-top:2rem;
    padding-bottom:1rem;
    text-align: center;
    font-size: 3rem;
    margin-left:1rem;
    margin-right:1rem;
}

#Arrow
{

    width:1rem;
    height: 1.5rem;
    padding:0;
    margin:0;
}

#GamePageClosing p 
{
    padding:0;
    margin:0;
    font-size:1.5rem;
}

#GamePageClosing
{
    padding:0;
    margin:1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: start;
    align-items: center;
}

#LeftContainer
{
    display: grid;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-rows: auto auto;
    margin: 0;
    padding:0;

    border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(74, 74, 74);
}

#RightContainer
{
    border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(74, 74, 74);
}

#gameOverlay
{
    transition : 0.5s;
    backdrop-filter: blur(6px);
    position:fixed;

    top:0;
    bottom:0;
    left: 0;
    right:0;

    justify-content: center;
    align-items: center;

    z-index: 2000;
    overflow: hidden;


    opacity: 0;
    color:white;
    transition : opacity 0.2s ease;
}

#LinkSection
{
    margin-top:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(3, 30%);

    justify-content:center;
    justify-self: center;
    align-items: center;
}

#Infos
{
    overflow-y: auto;
    padding:2rem;
    gap:1rem;
    display: grid;
    grid-template-rows: auto;
}

.Link
{
    display: inline-block;
}

.Link p
{
    transition : 0.2s;
    opacity: 0;
    cursor:default;
    display: block;
    justify-self: center;
    text-align:center;
}

#LeftHeader
{
    padding:0;
    margin:0;
}

.Link img
{
    cursor:pointer;

    transition:0.2s;
    scale : 100%;
    width:40%;

    display: block;
    justify-self: center;
}

.Link:hover p
{
    transition : 0.2s;
    opacity: 1;
}

.Link:hover img
{
    transition:0.2s;
    scale : 120%;
}

.Context
{
    display: block;
    justify-self: center;
    justify-items: center;
}

.Context h2
{
    text-align: center;
    font-size:2rem;
}

.Context p
{
    font-size:1rem;
    text-align: center;
}