#GamePage game-card
{
    pointer-events: none;
    display: block;
    width:60%;
    justify-self:center;
}

#GamePage
{
        border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(74, 74, 74);

    display:grid;
    grid-template-columns: 40% 60%;
}

#CardSection
{
    margin:auto;
    padding:0;
}

#GamePageClosing p 
{
    padding:0;
    margin:0;
}

#RightHeader h1 
{
    color:rgb(255, 128, 149);
    padding-top:2rem;
    display: block;
    justify-self: center;
    font-size: 5rem;
}

#Arrow
{

    width:2rem;
    height: 3rem;
}

#LeftHeader
{
    margin:0;
    width:100%;
}

#GamePageClosing
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin:0.5rem;
    padding: 2rem 0 0 2rem;

    justify-self: start;
    align-items: center;
}

#LeftContainer
{
    display: grid;
    grid-template-rows: 20% 80%;
    margin: 0;
    padding:0;

    border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(74, 74, 74);
}

#RightContainer
{
    display: grid;
    grid-template-rows: 20% 80%;

    border-style: solid;
    border-width: 0.1rem;
    border-color:rgb(74, 74, 74);
}

#RightHeader
{
    margin:0;
    width:100%;
}

#gameOverlay
{
    transition : 0.5s;
    backdrop-filter: blur(6px);
    position:fixed;

    top:0;
    bottom:0;
    left: 0;
    right:0;

    justify-content: center;
    align-items: center;

    z-index: 2000;
    overflow: hidden;


    opacity: 0;
    color:white;
    transition : opacity 0.2s ease;
}

#LinkSection
{
    margin:4rem;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-items: center;
    align-items: center;
    align-self:center;
}

#Infos
{
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: repeat(2, 50%);
}

.Link
{
    display: inline-block;
    padding:2rem;
}

.Link p
{
    transition : 0.2s;
    opacity: 0;
    cursor:default;
    display: block;
    justify-self: center;
}

.Link img
{
    cursor:pointer;

    transition:0.2s;
    scale : 100%;
    width:50%;

    display: block;
    justify-self: center;

    justify-self: center;
}

.Link:hover p
{
    transition : 0.2s;
    opacity: 1;
}

.Link:hover img
{
    transition:0.2s;
    scale : 120%;
}

.Context
{
    display: block;
    margin:2rem;
}

.Context h2
{
    display: block;
    padding:2rem;
    text-align: center;
    font-size:2.5rem;
}

.Context p
{
    display: block;
    padding:2rem;
    font-size:1.2rem;
    text-align: center;
}