/*#region Default Screen*/

/*#region Base*/

*
{
    scroll-behavior: smooth;
    scrollbar-width: 2rem;    
    scrollbar-color: #e76592 #271f39;
    box-sizing: border-box;
    overflow-x: hidden;
    border-color:#6a465e;
}

*:hover
{
    border-color:greenyellow;
}

body
{
    background-color: #080910;
    color:rgb(255, 255, 255);
}


section:not(.SmallSection)
{   
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;

    padding-bottom: 5rem;

    width:90%;
    box-sizing: border-box;

    justify-self: center;
    align-self: center;
}

footer
{
    bottom: 0;
    background-color:rgb(28, 32, 45);

    padding-left:2%;
    padding-right:2%;
    padding-top:2%;    
    padding-bottom:2%;

    margin-top:2%;
}

img, button
{
    position:relative;
    display: block;
    top:0;
}

button img:not(.GameInfoLogo, .GameLinkImg)
{
    width:100%;
    height:100%;
    border-style: hidden;
    filter:blur(0.5px) grayscale(20%);
}

button
{
    padding:1rem;
    width:100%;
    height:100%;
    background-color: rgb(23, 23, 26);
    border-style:hidden;
    cursor: pointer;
}

button h2
{
    overflow: hidden;
    color:pink;
    font-size:1.6rem;
    font-weight: bolder;
    letter-spacing: -0.1rem;
}

button h3
{
    overflow: hidden;
    color:rgb(188, 250, 189);
    font-size:120%;
}

article
{
    background-color: rgba(0, 0, 0, 0.677);

    display:block;
    position:absolute;
    justify-self: center;

    padding-left:1rem;
    bottom:0;
    width:100%;

    text-align: left;
}

education-card
{
    cursor: pointer;
    display:block;
    grid-column: span 3 / span 3;
    grid-template-rows: auto;
    justify-items: center;
    justify-self: center;
    background-color: rgb(18, 19, 22);

    padding-top:3rem;
    padding-left:1rem;
    padding-right:1rem;
    margin:0;

    transition:0.2s ease-out;
    width:90%;

    border-style: solid;
    border-width:0.1rem;
    border-radius: 0.1em;

}

technical-exp:not(.ButtonLink)
{
    cursor: default;
    padding-left:5rem;
    padding-right:5rem;
    grid-column: span 3/ span 3;
    display: inline-block;
    justify-self: center;
    margin-top:-3em;
}

technical-exp p 
{
    font-weight: lighter;
}

contacts-link
{
    margin-left:auto;
}

p
{
    display: inline-block;
    box-sizing: border-box;

    font-size:1.4em;
    margin-top:1em;
    margin-bottom:1em;
    padding-right:0.3em;
    padding-left:0.3em;
}

technical-exp .Exp
{
    transition:0.2s;
    color:white;
    background-color:rgb(18, 19, 22);
    border-style: solid;
    border-radius: 0.1em;
    border-width: 0.07em;
    font-size:2rem;
}

h2
{
    font-size : 2.4;
    letter-spacing: -0.05em;
}

h3
{
    font-size : 1.5em;
    text-align: left;
}

h4
{
    font-size:2em;
}

h5
{
    margin-top:0.8em;

    margin-bottom:1em;
    font-size: 1.1em;
}

.ButtonLink p, a
{
    text-decoration: none !important;
}

/*#endregion Base*/

/*#region Ids*/

#ProjectsButton
{
    display: block;
    width: fit-content;
    margin: 2em auto;

    text-align : center;
}

#GamePage
{
    margin:3em;

    left:0;
    right:0;
    top:0;
    bottom:0;

    position:fixed;
    background-color: rgb(15, 16, 18);
}

#GamePageClosing
{
    margin:1em;
    font-size: 1.8em;

    display: inline-block;
    background-color: transparent;

    width: auto;
    height:auto;
}

#Contacts a
{
    color:transparent;
    background-color: transparent;
}

/*#endregion Ids*/

/*#region Classes*/

.EducationContext
{
    display: block;
    justify-items: center;
}

.EducationContext h3
{
    font-size:2rem;
    font-weight: bolder;
}

.EducationContext h5
{
    font-weight: lighter;
    font-size:1.5rem;
}

.SmallSection
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    width: 90%;
    justify-self: center;
    align-content: center;
}

.SectionTitle
{
    justify-self: left;
    grid-column: 1/-1;
    margin-bottom:4vh;
    width:100%;
}

.ContactLogos
{
    display:inline-flex;
    flex:content;
    flex-direction: column;
    background-color: transparent;

    padding:0.35rem;
    transition: 0.2s;
    width:4.2rem;
    height:4.2rem;
}
/*#endregion Classes*/

/*#region Animations*/

technical-exp .Exp:hover, a:not(.ButtonLink)
{
    background-color: rgb(13, 14, 15);
    transition:0.2s;
    scale:110%;
}

education-card:hover
{

    background-color:rgb(13, 14, 15);
    transition:0.2s ease-out;
    width:100%;
    border-style:solid;
    border-width:0.1rem;
    box-shadow: 0px 0 10px black;
}

.ContactLogos:hover
{
    background-color: transparent;
    display:inline-block;
    transition: 0.15s;
    transform: scale(115%);
}

a:hover
{
    transform: scale(110%);
}



/*#endregion Animations*/

/*#endregion Default Screen*/



/*#region Mid Screen*/

@media screen and (max-width: 1500px) 
{

    education-card
    {
        display: block;
        padding:0;
        margin:0;
        height:8rem;
        align-content: center;
    }

    .ContactLogos
    {
        width:3.25rem;
        height:3.25rem;
    }

    .GameInfoLogo
    {
        width:1em;
        height:1em;
    }

    section:not(.SmallSection)
    {
        grid-template-columns: repeat(2, 1fr);
    }

    button
    {
        filter:blur(0px) grayscale(0%);
    }

    button h2
    {
        font-size: 1.7rem;
        color:rgb(255, 128, 149);
    }

    button h3
    {
        font-size:1rem;
        color:rgb(94, 186, 95);
    }

    button:hover img:not(.GameLinkImg)
    {
        filter:blur(0px) grayscale(0%);
    }

    button img:not(.GameInfoLogo, .GameLinkImg)
    {
        filter:none;
    }

    h1
    {
        font-size: 1.4rem;
    }

    h5
    {
        font-size: 1rem !important; 
    }

    h4
    {
        font-size : 1.2rem !important;
    }

    h3
    {
        font-size: 1.1rem !important;
    }

    p
    {
        font-size: 1rem !important;
    }
}

/*#endregion Mid Screen*/



/*#region Small Screen*/

@media screen and (max-width: 1205px) 
{

    button h2
    {
        color:rgb(255, 128, 149);
    }

    button h3
    {
        color:rgb(94, 186, 95);
    }

    button:hover img:not(.GameLinkImg)
    {
        filter:blur(0px) grayscale(0%);
    }

    button img:not(.GameInfoLogo, .GameLinkImg)
    {
        filter:none;
    }
 
    .SectionTitle
    {
        grid-column: 100%;
        width:100%;
        font-size: 2em;
        text-align: center;
    }

    h3
    {
        font-size: 1.1em;
    }

    article
    {
        font-size: 0.6rem;
    }

    .GameInfoLogo
    {
        width:1.6em;
        height:1.6em;
    }
}

/*#endregion Small Screen*/

/*#region Mini Screen*/

@media screen and (max-width: 850px) 
{
    .ContactLogos
    {
        width:2.5rem;
        height:2.5rem;
    }

    h1
    {
        font-size: 2rem;
    }

    h3
    {
        font-size: 1rem;
    }

    section:not(.SmallSection)
    {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10%;
        padding-right: 10%;
    }
    
    button
    {
        filter:blur(0px) grayscale(0%);
    }

    button h2
    {
        color:rgb(255, 128, 149);
    }

    button h3
    {
        color:rgb(94, 186, 95);
    }

    button:hover img:not(.GameLinkImg)
    {
        filter:blur(0px) grayscale(0%);
    }

    button img:not(.GameInfoLogo, .GameLinkImg)
    {
        filter:none;
    }
}

/*#endregion Mini Screen*/

/*#region Mobile Big*/
@media screen and (max-width: 590px) 
{
    .ContactLogos
    {
        width:2rem;
        height:2rem;
    }

    h1
    {
        font-size:1.2rem;
    }

    h3
    {
        font-size:0.7rem;
    }
}

/*#endregion Mobile Big */

/*#region Giant Screen*/

@media screen and (min-width: 2000px) 
{
    section:not(.SmallSection)
    {
        grid-template-columns: repeat(4, 1fr);
        width:90%;
    }
}


/*#endregion Giant Screen*/



/*#region Enormous Screen*/
@media screen and (min-width: 3000px)
{
    section:not(.SmallSection)
    {
        grid-template-columns: repeat(5, 1fr);
        width:90%;
    }
}

/*#endregion Enormous Screen*/