/*#region Big Screen*/

/*#region Base*/

*
{
    font-family: 'Courier New', Courier, monospace;
    color:white;

    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body
{
    background-color: black;
    color:white;
}

header
{
    display:grid;
    grid-template-columns: 1fr 3fr 2fr;

    padding-left:8em;
    padding-right:8em;
    padding-top:2em;    
    padding-bottom:2em;

    background-color: black;

    position:fixed;
    z-index: 1000;
    top:0;

    left: 0;
    right: 0;
}

section
{   
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.8rem;

    padding-top:12rem;
    padding-bottom: -6rem;

    width:90%;
    box-sizing: border-box;

    justify-self: center;
    align-self: center;
}

footer
{
    bottom: 0;
    background-color:rgb(28, 32, 45);

    padding-left:5em;
    padding-right:5em;
    padding-top:5em;    
    padding-bottom:5em;

    margin-top:3em;
}

img, button
{
    position:relative;
    display: block;
    width: 100%;
    top:0;
}

button img:not(.GameInfoLogo, .GameLinkImg)
{
    border-style: hidden;
    filter:blur(1px) grayscale(70%);
}

button
{
    background-color: rgb(23, 23, 26);
    border-style:hidden;
    cursor: pointer;
}

button h2
{
    overflow: hidden;
    color:pink;
    font-size:1.7rem;
    letter-spacing: -0.1rem;
}

button h3
{
    overflow: hidden;
    color:rgb(188, 250, 189);
    font-size:120%;
}

article
{
    padding-left:1em;
    position:absolute;
    bottom:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.677);
    text-align: left;
}

education-card
{
    display:block;
    grid-column: span 3 / span 3;
    justify-items: center;
    background-color: rgb(18, 19, 22);

    align-content: center;
    padding:1em;

    width:100%;

}

technical-exp
{
    display: block;
    justify-self: center;
    grid-column: span 3/ span 3;
    margin:1em;
    margin-top:-3em;
}

contacts-link
{
    display: inline-block;

    text-align: right;
    justify-content: right;
}

p
{
    display: inline-block;
    box-sizing: border-box;

    font-size:1.4em;
    margin-top:1em;
    margin-bottom:1em;
    padding-right:0.3em;
    padding-left:0.3em;
}

technical-exp .Exp, a p
{
    border-color: white;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
}

h1
{
    font-size:3em;
}

h2
{
    font-size : 5%;
    letter-spacing: -0.05em;
}

h3
{
    font-size : 1.8em;
    text-align: left;
}

h4
{
    font-size:2em;
}

h5
{
    margin-top:0.8em;

    margin-bottom:1em;
    font-size: 1.1em;
}

/*#endregion Base*/

/*#region Ids*/

#ProjectsButton
{
    display: block;
    width: fit-content;
    margin: 2em auto;

    text-align : center;
}

#ProfileImg
{
    display:inline-block;
    border-radius: 50%;

    padding:-2em;

    width: 8.5em;
    height: 9em;
}

#GamePage
{
    margin:3em;

    left:0;
    right:0;
    top:0;
    bottom:0;

    position:fixed;
    background-color: rgb(15, 16, 18);
}

#GamePageClosing
{
    margin:1em;
    font-size: 1.8em;

    display: inline-block;
    background-color: transparent;

    width: auto;
    height:auto;
}

#PageGif
{
    overflow: hidden;
    margin:5em;
    height:2rem;
    width:1rem;
}

/*#endregion Ids*/

/*#region Classes*/

.SmallSection
{
    margin-top:-10em;
}

.SectionTitle
{
    justify-self: left;
    grid-column: 1/-1;

    margin:1em;
}

.GameGif
{
    overflow: hidden;
    max-height:20em;
}

.GameCardInfos
{
    justify-items: left;
    margin:2em;
}

.GameLink
{
    text-align: left;
    display: grid;
    width:100%;
    grid-template-columns: 6fr 0.5fr;
}

.GameLinkImg
{
    justify-self: right;
    width:1rem;
    height:1.5rem;
}

.GameCardContext
{
    position:relative;
    margin:0;
}

.GameInfoLogo
{
    display: inline-block;
    margin-top:1.6em;
    margin-bottom:1.6em;
    width:1em;
    height:1em;
}

.ContactLogos
{
    display:inline-block;
    padding:0.2em;
    width:5em;
    height:5em;
}
/*#endregion Classes*/

/*#region Animations*/

button:hover img:not(.GameLinkImg)
{
    filter:blur(0px) grayscale(0%);
}


button:hover
{
    background-color: rgb(13, 14, 15);
}

button:hover h2
{
    color:rgb(255, 128, 149);
}

button:hover h3
{
    color:rgb(94, 186, 95);
}

button:hover article
{
    animation-name: Disparition;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;  
}

@keyframes Disparition {
    from{opacity: 1;}
    to{opacity: 0;}
}

/*#endregion Animations*/

/*#endregion Big Screen*/

/*#region Mid Screen*/

@media screen and (max-width: 1500px) 
{
    section
    {
        grid-template-columns: repeat(2, 1fr);
        width:80%;
    }

    button
    {
        filter:blur(0px) grayscale(0%);
    }

    button h2
    {
        color:rgb(255, 128, 149);
    }

    button h3
    {
        color:rgb(94, 186, 95);
    }

    button:hover img:not(.GameLinkImg)
    {
        filter:blur(0px) grayscale(0%);
    }

    button img:not(.GameInfoLogo, .GameLinkImg)
    {
        filter:none;
    }

    #ProfileImg
    {
        width:7.5em;
        height:8em;
    }
}

/*#endregion Mid Screen*/

/*#region Small Screen*/

@media screen and (max-width: 1220px) 
{
    button h2
    {
        color:rgb(255, 128, 149);
    }

    button h3
    {
        color:rgb(94, 186, 95);
    }

    button:hover img:not(.GameLinkImg)
    {
        filter:blur(0px) grayscale(0%);
    }

    button img:not(.GameInfoLogo, .GameLinkImg)
    {
        filter:none;
    }

    section
    {
        grid-template-columns: repeat(1, 1fr);
        width:70%;
    }

    header
    {
        padding-left:5em;
        padding-right:5em;
    }
 
    h1
    {
        font-size: 2.2em;
    }

    h3
    {
        font-size: 1.4em;
    }

    #ProfileImg
    {
        width:6.5em;
        height:7em;
    }

    .ContactLogos
    {
        width:4em;
        height:4em;
    }
}

/*#endregion Small Screen*/

/*#region Mini Screen*/

@media screen and (max-width: 800px) 
{
    section
    {
        grid-template-columns: repeat(1, 1fr);
        width:90%;
    }

    header
    {
        padding-left:0em;
        padding-right:0em;
    }

    button
    {
        filter:blur(0px) grayscale(0%);
    }

    h1
    {
        font-size: 2em;
    }

    h3
    {
        font-size: 1.2em;
    }

    button h2
    {
        color:rgb(255, 128, 149);
    }

    button h3
    {
        color:rgb(94, 186, 95);
    }

    button:hover img:not(.GameLinkImg)
    {
        filter:blur(0px) grayscale(0%);
    }

    button img:not(.GameInfoLogo, .GameLinkImg)
    {
        filter:none;
    }

    #ProfileImg
    {
        width:4.5em;
        height:5em;
    }

    .ContactLogos
    {
        width:3em;
        height:3em;
    }
}

/*#endregion Mini Screen*/
