/*#region Base Screen*/

:root 
{
  --header-height: 10rem;
  --page-width:80%;
}

*
{
    scrollbar-width: 2rem;
    scrollbar-color: rgb(255, 255, 255) rgb(9, 10, 10);
    font-family: "Oswald", sans-serif;
    color:white;

    margin:0;
}

body
{
    background-color: #080910;
    color:white;
}

header 
{
    display: flex;
    position: fixed;
    width: 100%;
    margin:0;
    background-size: 1400px 200px;
    height: 200px;
    align-items:center;
    justify-content:center;
    padding: 0rem 0rem;
    background-color: #06070a;
    z-index: 100;

    background-repeat: repeat-x;
    background-size: cover;

    -webkit-mask-image: url("Resources/Sources/wave.png");
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 1400px 200px;

    mask-image: url("Resources/Sources/wave.png");
    mask-repeat: repeat-x;
    mask-position: 0 0;
    mask-size: 1400px 200px;

    animation: wave-seamless 8s linear infinite;
}

iframe
{
    transition:0.2S;
    position:fixed;
    bottom:0;
    right:0;
    padding:1rem;
    border-radius: 25px;
}

iframe:hover
{
    transition:0.2S;
    width:600px;
    height:200px;
}

@keyframes wave-seamless {
    from 
    {
        -webkit-mask-position: 0 0 ;
        mask-position: 0 0 ;
    }

    to 
    {
        -webkit-mask-position:  -1400px 0;
        mask-position: -1400px 0;
    }
}

#Return, #Profile, #Contacts
{
    display: flex;
    align-self:flex-start !important;
    margin-top:2rem !important;
}

#Return img
{
    margin-right:3rem;
    rotate: 180deg;
    margin-top:1rem!important;
    height:3rem;
    width:2.8rem;
}

header img
{
    transition: 0.2s;
    padding:0.5rem;
    margin-top: 1.2rem;
    height:4rem;
    width:4rem;
}

header #Profile
{
    display: block;
    position:relative;
    justify-self: center;
    text-align: center;
}

header #Contacts
{
    display: flex;
    margin-top:0rem!important;
    margin-left:5rem;
    transition:0.2s;

    justify-self: flex-end;
    padding-top: 1rem;

}

header img:hover
{
    transition: 0.2s;
    transform: scale(110%);
}

main
{
    width:var(--page-width);
    justify-self: center;
    padding-top: var(--header-height);
}

article
{
    padding-top: 2rem;
}

#ProjectVisual
{
    position:relative;
    display: block;
    justify-self: center;
    width:100%;
}

#ProjectVisual img
{
    display: block;
    border-style: solid;
    border-width: 1px;
    justify-self: center;
    width:80%;
}

#ProjectVisual h2
{
    position: relative;
    top:2rem;
    width:50%;
    padding:2rem;

    display: block;
    justify-self: center;
    align-content: center;

    z-index: 2;
    background-color: rgb(10, 10, 20);
    text-align: center;

    border-style: solid;
    border-width: 1px;
}

#Infos
{
    padding-top: 2rem;
}

#Infos h2, h4, p
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section .CodeGrid
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: center;
    padding:0;
}

.CodeImg
{
    display: block;
    justify-self: center;
    margin:1rem;
    height:15rem;

    border-style: solid;
    border-width: 1px;

    transition:0.2s;
    scale:100%;
}

.CodeImg:hover
{
    margin:1rem;
    transition:0.2s;
    scale:108%;
}

.CodeText
{
    text-align: center;
}

/*#region Fonts*/

h1
{
    font-size: 2.5rem;
}

h2
{
    font-size: 2rem;
}

h3
{
    font-size: 1.5rem;
}

h4
{
    font-size: 1.4rem;
}

h5
{
    font-size:1.25rem;
    padding:1rem;
}

li
{
    font-size:1.25rem;
    padding:0.3rem;
}

p
{
    padding:1rem;
    font-size:1.25rem;
}

/*#endregion Fonts*/

/*#endregion Base Screen*/

/*#region Ipad*/
@media screen and (max-width: 900px) 
{

    #Contacts
    {
        justify-self: flex-end;
        margin:0;
        padding:0;
    }

    #Contacts img
    {
        height:3rem;
        width:3rem;
    }

    #Return
    {
        width:2.2rem;
        height:2.2rem;
        margin:3rem;
    }

    #Profile
    {
        display: flex;

    }

    #Profile h1
    {
        font-size: 1.75rem;
    }

    #Profile h3
    {
        font-size:1.2rem;
    }
}

/*#endregion Ipad */

/*#region Mobile*/
@media screen and (max-width: 660px)
{
    iframe:hover
    {
        width:100%;
    }


}
/*#endregion Mobile*/
